[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.0.0rc0"
numpy = "*"
requests = "*"
boto3 = "*"
regex-engine = "*"
pyarrow = "*"
databricks-cli = "*"
apache-airflow = {extras = ["databricks"], version = "*"}

[dev-packages]
jupyterlab = "*"
black = "*"
openpyxl = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.15"
